/* Don't overthink it grid http://css-tricks.com/dont-overthink-it-grids/ */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  overflow: hidden;
}

.grid:after, .clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.grid:after, .clearfix:after { clear: both; }

[class*='col-'] {
  float: left;
  padding-right: 0.8em;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-25  { width: 4%; }
.col-1-20  { width: 5%; }
.col-2-25  { width: 8%; }
.col-1-12  { width: 8.3%; }
.col-1-10  { width: 10%; }
.col-1-8   { width: 12.5%; }
.col-1-6   { width: 16.66%; }
.col-1-5   { width: 20%; }
.col-6-25  { width: 24%; }
.col-1-4   { width: 25%; }
.col-8-25  { width: 32%; }
.col-1-3   { width: 33.33%; }
.col-3-8   { width: 37.5; }
.col-3-10  { width: 30%; }
.col-2-5   { width: 40%; }
.col-5-12  { width: 41.7%; }
.col-1-2   { width: 50%; }
.col-7-12  { width: 58.3%; }
.col-3-5   { width: 60%; }
.col-5-8   { width: 62.5%; }
.col-2-3   { width: 66.66%; }
.col-17-25 { width: 68%; }
.col-7-10  { width: 70%; }
.col-3-4   { width: 75%; }
.col-4-5   { width: 80%; }
.col-5-6   { width: 83.33%; }
.col-7-8   { width: 87.5%; }
.col-9-10  { width: 90%; }
.col-11-12 { width: 91.7%; }
